[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
rich = "*"
shell-gpt = {editable = true, path = "."}
colored = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
